---
const platform = "github";
const username = "withastro";
---


<p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
<div class="section" background-color="lightgray">
  <a href={`https://www.${platform}.com/${username}`}>Placeholder for future footer</a>
</div>